name: Java
on:
  push:
    branches:
      - main # or master
    paths:
      - "java/**"

permissions:
  contents: read # for checkout

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run Tests
        working-directory: ./java
        run: mvn test
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
      - name: Install dependencies
        working-directory: ./java
        run: npm install @semantic-release/changelog @semantic-release/git @semantic-release/exec
      - name: Verify the integrity of provenance attestations and registry signatures for installed dependencies
        working-directory: ./java
        run: npm audit signatures
      - name: Release
        working-directory: ./java
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release